.wallet-integration-button {
    --border-radius: 9999px;
    border: 1px solid transparent;
    overflow: hidden;
    position:absolute;
    top:3px;
    right:10px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
    text-indent: 0px;
    text-transform: uppercase;
    text-align: center;
    transition: all .3s ease-in-out;
    font-size: 14px;
    color: silver;
    box-sizing: border-box;
    z-index:20;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: var(--select-divider);
}

.wallet-integration-button:hover {
    color: #880399;
    transform: scale(1.15);
}